<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>

    <!--ESTE ES EL MENU DE NAVEGACION-->
    <header class="navbar">
        <div class="logo">
            <span  class="logo-icono" >🌿</span>
            <a class="logo-nombre" href="index.html">CoffeeHealth AI</span>
        </div>

        <nav class="menu">
            <a class="menu-acciones" href="#">Inicio</a>
            <a class="menu-acciones" href="#">Diagnóstico</a>
            <a class="menu-acciones" href="#">Prevención</a>
            <a class="menu-acciones" href="#">Comunidad</a>
        </nav>

        <div class="acciones">
            <div class="btn-buscar">
            <span>⌕</span>
            <input class="letra-del-buscador" type="text" placeholder="Buscar enfermedades...">
            </div>

            <a class="btn-login" href="/templates/login.html">Iniciar Sesion</a>
        </div>           
    </header>
</body>
</html>