<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartCafé</title>
    <link rel="stylesheet" href="/static/login.css">
</head>

<body>
<link rel="stylesheet" href="/static/login.css">
    <div class="contenedor">

        <div class="login">

            <!-- Logo -->
            <div class="logo">
                <span class="kfe">◯</span> SmartCafé
            </div>

            <h1>Hola caficultor</h1>
            <p class="subtitulo">Cuéntanos sobre ti</p>

            <!-- Nombre -->
            <label for="nombre">INGRESA TU NOMBRE</label>
            <input 
                type="text" 
                id="nombre" 
                placeholder="Juan Valdez"
            >

            <!-- Teléfono -->
            <label for="telefono">INGRESA TU NÚMERO DE<br> TELÉFONO</label>
            <input 
                type="tel" 
                id="telefono" 
                placeholder="3214567890"
            >

            <!-- Botón -->
            <button onclick="continuar()">continuar →</button>

        </div>

       
    </div>


</body>
</html>
